{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <div class="h2">
                        <!-- Имя автора -->
                        <h6> Имя автора: {{post.author.get_full_name}} </h6>
                    </div>
                    <div class="h3 text-muted">
                       <!-- username автора -->
                       <h6>username автора: {{ username }} </h6>
                   </div>
               </div>
               <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="h6 text-muted">
                        Подписчиков: {{ following_count }} <br />
                        Подписан: {{ follower_count }}
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="h6 text-muted">
                        <!--Количество записей -->
                        <h6>Количество записей: {{ count }} </h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">

        <!-- Пост -->  
        {% include "includes/post_item.html" with post=post %}
        {% include "includes/comments.html"  %}
    </div>
</div>
</div>
</main>
{% endblock %}